:root {
  font-size: 12pt;
}

.doc-properties {
  display: none;
}

.doc-heading > .highlight > span {
  color: var(--theme-color);
}

.jp-InputPrompt,
.jp-OutputPrompt {
  display: none !important;
}

.clipboard-copy-icon {
  width: 1em;
}
