name: pinn
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pip
  - "ase>=3.22.0,<3.23.0"
  - "click>=7.0,<8.0"
  - "pyyaml>=6.0.1,<6.1.0"
  - "numpy<2"
  - pip:
    - tensorflow>=2.6,<=2.8
    - protobuf<3.20
