profiles {
  standard {
    singularity.enabled = true
    process.container = "docker://teoroo/pinn:v1.1.0-cpu"
    process.scratch = true
  }
  dev {
    singularity.enabled = false
  }
  alvis {
    singularity.enabled = false
    process.scratch = true
    process.time = '3d'
    process.clusterOptions = '--gres=gpu:T4:1'
    beforeScript = 'source $HOME/pinn-tf26/bin/activate'
    module = 'TensorFlow/2.6.0-fosscuda-2021a-CUDA-11.3.1'
    executor{
      name = 'slurm'
      queueSize = 20
      submitRateLimit = '120 min'
    }
  }
}

manifest.mainScript = 'nextflow/main.nf'
