profiles {
  standard {
    singularity.enabled = true
    process.container = "docker://teoroo/pinn:v1.1.0-cpu"
    process.scratch = true
  }
  dev {
    singularity.enabled = false
  }
  benchmark {
    params.setup = [
      qm9: [
        pot: "{*, nofrc}"
      ],
      rmd17: [
        pot: "{*, frc}"
      ]
    ]
  }
  pinet2_qm9_dipole {
    params.setup = [
      qm9: [
        pot: "{pinet2-dipole.yml,}"
      ]
    ]
    params.train_steps = 3000000
    params.train_total = -1
  }
  regression {
    params.setup = [
      qm9: [
        pot: "{*, nofrc}"
      ],
      rmd17: [
        pot: "{*, frc}"
      ]
    ]
    params.rmd17_tags = "aspirin,toluene,uracil"
    params.train_steps = 10000
  }
  alvis {
    singularity.enabled = false
    process.scratch = false
    process.time = '6d'
    process.clusterOptions = '--gres=gpu:V100:1'
    process.beforeScript = """
    module load TensorFlow/2.11.0-foss-2022a-CUDA-11.7.0.lua
    source /mimer/NOBACKUP/groups/teoroo_1/jichen/pinn-tf211/bin/activate
    """
    executor{
      name = 'slurm'
      queueSize = 20
      submitRateLimit = '120 min'
    }
  }
}

manifest.mainScript = 'nextflow/main.nf'
