profiles {
  standard {
    singularity.enabled = true
    process.container = "docker://teoroo/pinn:v1.1.0-cpu"
    process.scratch = true
  }
  dev {
    singularity.enabled = false
  }
  benchmark {
    params.setup = [
      qm9: [
        pot: "{*, nofrc}"
      ],
      rmd17: [
        pot: "{*, frc}"
      ]
    ]
  }
  regression {
    params.setup = [
      qm9: [
        pot: "{*, nofrc}"
      ],
      rmd17: [
        pot: "{*, frc}"
      ]
    ]
    params.rmd17_tags = "aspirin,toluene,uracil"
    params.train_steps = 10000
  }
  alvis {
    singularity.enabled = false
    process.scratch = false
    process.errorStrategy = 'ignore'
    process.time = '3d'
    process.clusterOptions = '--gres=gpu:V100:1'
    beforeScript = 'source $HOME/pinn-tf26/bin/activate'
    module = 'TensorFlow/2.6.0-fosscuda-2021a-CUDA-11.3.1'
    executor{
      name = 'slurm'
      queueSize = 20
      submitRateLimit = '60 min'
    }
  }
}

manifest.mainScript = 'nextflow/main.nf'
