:root {
  font-size: 12pt;
}

.doc-properties {
  display: none;
}

.doc-heading > .highlight > span {
  color: var(--theme-color);
}

.output pre {
    border: 1px dotted var(--theme-color);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
}

.input code, .input pre {
    background-color: unset !important;
}

.highlight {
    margin-top: 10px;
}
