:root {
  --md-primary-fg-color:         #be2435;
  --md-accent-fg-color:          #be2433;
}

body {
  background-image:url('https://live.webb.uu.se/digitalAssets/207/c_207717-l_3-k_bg-city.svg');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.prompt {
  display: none !important;
}

.jp-InputPrompt {
  display: none !important;
}

.jp-OutputPrompt {
  display: none !important;
}

.center {
    display: block;
    margin: 0 auto;
}

.md-sidebar{
  max-width: 180px;
}

.md-content {
  max-width: 750px;
}

.md-grid {
  max-width: 950px;
  margin-left: 0px;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
  font-size: 90%;
}

.md-typeset table:not([class]) td:last-of-type{
  width: 100%;
}

.md-typeset table:not([class]) td{
  padding: 10px 20px;
  white-space:nowrap;
}
.md-typeset table:not([class]) th{
  padding: 10px 20px;
  white-space:nowrap;
}
