:root {
  --md-primary-fg-color:         #be2435;
  --md-accent-fg-color:          #be2433;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) td:last-of-type{
  width: 100%;
}

.md-typeset table:not([class]) td{
  padding: 10px 20px;
  white-space:nowrap;
}
.md-typeset table:not([class]) th{
  padding: 10px 20px;
  white-space:nowrap;
}
