name: Build and Test
on:
  push:
    branches:
      - master
    tags:
      - v*
jobs:
  pytest:
    continue-on-error: ${{ matrix.experimental }}
    name: "PYtest (Py${{ matrix.py-version }}-TF${{ matrix.tf-version }}${{ matrix.experimental && '-exp' || '' }})"
    strategy:
      matrix:
        py-version: ["3.8", "3.9", "3.10"]
        tf-version: ["2.8", "2.9"]
        experimental: [false]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.py-version }}
          cache: "pip"
          cache-dependency-path: "requirements*.txt"
      - name: Cache regression test files
        uses: actions/cache@v3
        with:
          path: ~/.cache/pinn/regression
          key: ${{ hashFiles('tests/test_regression.py') }}
      - name: Install PiNN
        run: |
          pip install -r requirements-dev.txt
          pip install -r requirements-doc.txt
          pip install tensorflow==${{ matrix.tf-version }} 'protobuf<3.20' 'numpy<2'
          pip install .
      - name: Test with pytest
        run: pytest --forked tests/
  build:
    name: Build docker (cpu)
    needs: pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Get Tag
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_REPO }}:${{ env.TAG }}-cpu
  build-cpu-to-now-org:
    name: Build docker (cpu)
    needs: pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Get Tag
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.NEW_DOCKERHUB_USERNAME }}
          password: ${{ secrets.NEW_DOCKERHUB_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ vars.NEW_DOCKERHUB_REPO }}:${{ env.TAG }}-cpu
  build-gpu:
    name: Build docker (gpu)
    needs: pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Get Tag
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          file: Dockerfile.gpu
          tags: ${{ secrets.DOCKERHUB_REPO }}:${{ env.TAG }}-gpu
  build-gpu-to-now-org:
    name: Build docker (gpu)
    needs: pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Get Tag
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.NEW_DOCKERHUB_USERNAME }}
          password: ${{ secrets.NEW_DOCKERHUB_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          file: Dockerfile.gpu
          tags: ${{ vars.NEW_DOCKERHUB_REPO }}:${{ env.TAG }}-gpu
  deploy-docs:
    name: Deploy docs
    needs: pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # see https://github.com/jimporter/mike/issues/28
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: "pip"
          cache-dependency-path: "requirements*.txt"
      - name: Install PiNN
        run: |
          pip install tensorflow==2.8 'protobuf<3.20'
          pip install -r requirements-dev.txt
          pip install -r requirements-doc.txt
          pip install .
      - name: Configure Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: Deploy docs
        run: |
          mike deploy ${GITHUB_REF##*/} -b gh-pages -p
