name: Build and Test
on:
  push:
    branches:
      - pre-release
jobs:
  pytest:
    continue-on-error: ${{ matrix.experimental }}
    name: "PYtest (Py${{ matrix.py-version }}-TF${{ matrix.tf-version }}${{ matrix.experimental && '-exp' || '' }})"
    strategy:
      matrix:
        py-version: ["3.8", "3.9", "3.10"]
        tf-version: ["2.6", "2.8", "2.9"]
        experimental: [false]
        # exclude:
        #   - py-version: "3.9"
        #     tf-version: "2.4"
        # include: # test newer versions of TF
        #   - py-version: "3.9"
        #     tf-version: "2.10"
        #     experimental: true
        #   - py-version: "3.9"
        #     tf-version: "2.13"
        #     experimental: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.py-version }}
          cache: "pip"
          cache-dependency-path: "requirements*.txt"
      - name: Cache regression test files
        uses: actions/cache@v3
        with:
          path: ~/.cache/pinn/regression
          key: ${{ hashFiles('tests/test_regression.py') }}
      - name: Install PiNN
        run: |
          pip install -r requirements-dev.txt
          pip install -r requirements-doc.txt
          pip install tensorflow==${{ matrix.tf-version }} 'protobuf<3.20'
          pip install .
      - name: Test with pytest
        run: pytest --forked tests/
  deploy-docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # see https://github.com/jimporter/mike/issues/28
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: "pip"
          cache-dependency-path: "requirements*.txt"
      - name: Install PiNN
        run: |
          pip install tensorflow==2.8 'protobuf<3.20'
          pip install -r requirements-dev.txt
          pip install -r requirements-doc.txt
          pip install .
      - name: Configure Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: Deploy docs
        run: |
          mike deploy ${GITHUB_REF##*/} -b gh-pages -p
