name: Test Documentation Build

on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        py-version: ["3.8", "3.9", "3.10"]
        experimental: [false]
    steps:
      - name: Checkout master
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # see https://github.com/jimporter/mike/issues/28
      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py-version }}
          cache: "pip"
          cache-dependency-path: "requirements*.txt"
      - name: Install PiNN
        run: |
          pip install tensorflow==2.8 'protobuf<3.20'
          pip install -r requirements-dev.txt
          pip install -r requirements-doc.txt
          pip install .
      - name: Deploy docs
        run: |
          mkdocs build
